
.body{
    width: 1430px;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    background-image: url(../img/);
}
:root{
    --primary:#82817D;
    --secondery:black;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color:var(--primary);
    color: var(--secondery);
    border-radius: 10px;
}
.logo{
    margin: 10px 10px 5px 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.buyer_img{
    margin: 10px 10px 0px 10px ;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.profile{
    display: flex;
}
.buyer-name{
    padding: 30px 20px 10px 10px;
    font-size: 20px;
}
.header h1{
    margin: 25px 0px 0px 60px;
    font-size: 35px;
}
.product-img{
    width: 490px;
    height:490px;
    border-radius: 20px;
}
.thumbnail-img{
    max-width: 490px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.product-img:hover{
    transform: translateY(-5px);
    box-shadow: 5px 7px 20px gray;
    transition: 0.5s;
}
.thumbnail{
    width: 150px;
    height: 150px;
    margin: 10px 0px 0px 0px;
    border-radius: 10px;
}
.thumbnail:hover{
    transform: translateY(-5px);
    box-shadow: 5px 7px 20px gray;
    scale: 1.2;
    transition: 0.5s;
}
.seller-img{
    width: 100px;
    height: 100px;
    padding: 30px 20px 20px 20px ;
    border-radius: 50%;
}
.seller-img1{
    width: 100px;
    height: 100px;
    padding: 30px 20px 20px 20px ;
    border-radius: 50%;
}
.main{
    display: flex;
    justify-content:center;
}
.right-content{
    display: flex;
    margin: 0px 0px 0px 100px;
    font-size: 20px;
    width: 600px;
    height:650px;
}
.content{
    display: flex;
}
.left-content{
    margin: 70px 0px 50px 50px;
}
.buy{
    display: flex;
    justify-content: space-evenly;
}
.product-detail{
    width: 550px;
}
.product-detail h2{
    padding: 50px 20px 10px 0px;
    font-size: 35px;
}
.detail li{
    padding: 10px 20px 10px 10px;
}
.rate{
    padding: 0px 20px 20px 20px;
    font-size: 30px;
}
.seller-profile{
    display: flex;
    border-style: solid;
    border-width: 1px;
    margin : 50px 0px 50px 50px;
    border-radius: 10px;
    font-size: 25px;
    width: 450px;
    height: 150px;
}
.seller-profile1{
    display: flex;
    border-style: solid;
    border-width: 1px;
    margin : 50px 0px 0px 650px;
    border-radius: 10px;
    font-size: 25px;
    width: 450px;
    height: 150px;
    position: relative;
    bottom: 300px;
}
.bid-area{
    display: flex;
    margin: 110px 0px 0px 150px;
    text-align: center;
}
.btn{
    width: 150px;
    height: 35px;
    font-size: 20px;
    margin: 0px 20px 20px 20px;
    background-color: var(--primary);
    color:var(--secondery);
    border-width: 1px;
    border-radius: 5px;
}
.bid-amount{
    margin: 0px 20px 20px 0px;
    width: 140px;
    height: 30px;
    border-width: 1px;
    border-radius: 5px;
}
.seller-name{
    padding: 60px 0px 60px 20px;
}
.seller-name a{
    color: black;
    text-decoration: none;
}
.seller-name1{
    padding: 60px 0px 60px 20px;
}
.seller-name1 a{
    color: black;
    text-decoration: none;
}
.bid a i{
    padding-right: 10px;
    color: red;
}
.bid-area i{
    padding-right: 10px;
    color: red;
}
.bid-area a i{
    padding-right: 10px;
}
.btn_primary{
        width: 150px;
        height: 35px;
        font-size: 20px;
        background-color: var(--secondery);
        color:white;
        border-width: 1px;
        border-radius: 5px;
        margin: 0px 0px 0px 200px;
}
.btn_secondary{
    width: 150px;
    height: 35px;
    font-size: 20px;
    background-color: var(--secondery);
    color:white;
    border-width: 1px;
    border-radius: 5px;
}
.btn_back{
    width: 150px;
    height: 35px;
    font-size: 20px;
    background-color: var(--secondery);
    color:white;
    border-width: 1px;
    border-radius: 5px;
    margin: 0px 0px 0px 1050px;
    position: relative;
    bottom: 400px;
}
.back{
    margin: 100px 0px 0px 300px;
}
.back1{
    margin: 0px 0px 0px 150px;
}
.sub_img{
    width: 300px;
    height: 250px;
    border-radius: 10px;
    margin: 10px;
}
.sub_img1{
    width: 200px;
    height: 250px;
    border-radius: 10px;
    margin: 10px;
}
.more_prod{
    display:flex ;
    justify-content: space-evenly;
    text-align: center;
}
.similar{
     background-color: whitesmoke;
     border-radius: 20px;
     width: 320px;
}
.similar p{
    font-size: 25px;
}
.similar a{
    text-decoration: none;
    color: black;
}
.head{
    display: flex;
}
.head h1{
    margin: 10px 10px 20px 20px;
}
.line1{
    border-style: solid;
    border-width: 2.5px 0px 2.5px 0px;
    width: 1100px;
    height: 0px;
    margin: 30px 0px 0px 0px;
}
.footer{
    margin-top: 50px;
}
.footer_left{
    display: flex;
    font-size: 30px;
}
.footer_left a{
    text-decoration: none;
    color: black;
    padding: 0px 20px 0px 20px;
}
.footer_left a:hover{
    color: white;
}
h4{
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 15px;
}
.footer_top{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--primary);
    height: 100px;
}
.contact{
    font-size: 20px;
}
.socials span{
    font-size: 23px;
    position: relative;
    top: 5px;
}
.line{
    border-right: 2px solid black;
    height: 80px;
    margin: 10px 55px 10px 0px;
}
.socials{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 30px;
    left: 50px;
}
.insta{
    padding: 10px 10px 8px 10px;
    border: 1px solid gray;
    border-radius: 100%;
    margin-left: 20px;
}
.insta:hover{
    background-image: linear-gradient(315deg, #7110D2, #DE46A9);
    color: white;
}
.fb{
    padding: 10px 10px 8px 10px;
    border: 1px solid gray;
    border-radius: 100%;
    margin-left: 20px;
}
.fb:hover{
    background-color: #3B5998;
    color: white;
}
.youtube{
    padding: 10px 10px 8px 10px;
    border: 1px solid gray;
    border-radius: 100%;
    margin-left: 20px;
}
.youtube:hover{
    background-color: red;
    color: white;
}
.twiter{
    padding: 10px 10px 8px 10px;
    border: 1px solid gray;
    border-radius: 100%;
    margin-left: 20px;
}
.twiter:hover{
    background-color: #00ACEE;
    color: white;
}
.copy{
    text-align: center;
    padding: 10px 0px 0px 0px;
}
.product-img1{
    width: 320px;
    height:450px;
    border-radius: 20px;
    margin: 0px 0px 0px 100px;
}
.thumbnail1{
    width: 75px;
    height: 150px;
    margin: 10px 0px 0px 0px;
    border-radius: 10px;
}
.thumbnail1:hover{
    transform: translateY(-5px);
    box-shadow: 5px 7px 20px gray;
    scale: 1.2;
    transition: 0.5s;
}
.thumbnail-img1{
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 0px 100px;
}
.thumbnail2{
    width: 120px;
    height: 170px;
    margin: 10px 10px 0px 10px;
    border-radius: 10px;
}
.thumbnail2:hover{
    transform: translateY(-5px);
    box-shadow: 5px 7px 20px gray;
    scale: 1.2;
    transition: 0.5s;
}
.thumbnail-img2{
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 0px 50px;
}
.right-lower{
    display:flex ;
    flex-direction: column;
}