.body{
    width: 1426px;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
:root{
    --primary:#82817D;
    --secondery:black;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    color:var(--secondery);
}
.logo{
    margin: 10px 10px -10px 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.profile_img{
    margin: 10px 10px -10px 10px;
    width: 70px;
    height: 75px;
    border-radius: 50%;
}
.profile{
    display: flex;
}
.buyer-name{
    padding: 30px 20px 10px 10px;
    font-size: 20px;
}
.buyer-name a{
    color: var(--primary);
}
.header h1{
    margin: 25px;
}
.product_img{
    width: 500px;
    height: 300px;
    margin: 0px 0px 0px 30px;
}
.product{
    display: flex;
    margin: 50px;
}
.product_detail{
    font-size: 30px;
    position: relative;
    top: 75px;
    left: 250px;
}
.detail{
    margin: 20px;
}
.heading{
    height: 50px;
    text-align: center;
}
.heading h1{
    position: relative;
    top:-45px;
    color: var(--primary);
}
.border-1{
    height: 1px;
    width: 570px;
    margin: 0px auto;
    border: 1.5px solid black  ;
    position: relative;
    right: 420px;
    background-color:black;
}
.border-2{
    height: 1px;
    width: 570px;
    margin: 0px auto;
    border: 1.5px solid black ;
    position: relative;
    left: 420px;
    background-color:black;
}
.content{
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-width: 0px 0px 0px 4px;
    margin: 20px 0px 20px 0px;
    font-size: 23px;
}
.content1{
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-width: 0px 0px 0px 4px;
    margin: 20px 0px 20px 0px;
    font-size: 23px;
    opacity: 0.5;
}
.buyer_img{
    width: 80px;
    height: 80px;
    margin: 10px 10px 10px 30px;
    border-radius: 50%;
}
.event-date{
    margin: 30px 0px 0px 0px;
}
.rate{
    margin: 25px 20px 0px 0px;
    font-size: 30px;
}
.btn{
    height: 35px;
    width: 150px;
    background-color:var(--secondery);
    color:white;
    border-width: 1px;
    margin: 30px 20px 0px 0px;
    border-radius: 5px;
    font-size: 20px;
}
