
.body{
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    background-color: white;
}
:root{
    --primary:#82817D;
    --secondery:black;
}
.btn_secondary{
    height: 35px;
    width: 150px;
    background-color:var(--primary);
    color: var(--secondery);
    border-width: 1px;
    margin: 75px 20px 0px 275px;
    border-radius: 5px;
    font-size: 20px;
}
.btn_primary{
    height: 35px;
    width: 150px;
    background-color:var(--secondery);
    color:white;
    border-width: 1px;
    margin: 75px 20px 0px 275px;
    border-radius: 5px;
    font-size: 20px;
}
.product_img{
    margin: 30px 0px 0px 0px ;
    width: 450px;
    height: 300px;
}
.buyer_img{
    width: 150px;
    height: 150px;
    margin: 10px 10px 10px 30px;
    border-radius: 50%;
}
.content{
    display: flex;
    justify-content: space-between;
    margin: 40px 0px 40px 130px;
    font-size: 25px;
}
.input{
    width: 300px;
    height: 35px;
}
.main{
    display: flex;
}
.main_left{
    text-align: center;
    margin: 50px 0px 0px 100px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    width: 600px;
    height: 600px;
    background-color: rgb(239, 234, 234);
}
.main_right{
    display: flex;
    margin: 50px 0px 0px 100px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    width: 530px;
    height: 400px;
    background-color: rgb(239, 234, 234);
}
.img{
    margin: 110px 20px 0px 20px;
}
.right_content{
    font-size: 25px;
    margin: 50px 0px 20px 30px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    padding: 0px 20px 0px 0px;
}
.right_content i{
    padding-right: 20px;
}
.contact-detail{
    margin: 55px 0px 0px 20px;
}