.body{
    width: 1440px;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
:root{
    --primary:#82817D;
    --secondery:black;
}
.header{
    display: flex;
    background-color:var(--primary);
    color: var(--secondery);
}
.title{
    margin: 5px 0px 0px 550px;
}
.logo{
    margin: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.main{
    display:flex;
    justify-content: center;
    position: relative;
    top: 70px;
}
.main-left{
    width: 500px;
    height: 600px;
    margin-right: 10px;
}
.main-left h2{
    text-align: center;
}
.main-right{
    width:500px;
    height: 600px;
    margin-left: 10px;
    text-align: center;
}
.profile-img{
    width: 300px;
    height: 300px;
    margin: 50px 0px 0px 30px;
    border-radius: 10px;
}
.left_content{
    padding:25px;
    font-size: 16px;
    position: relative;
    left: 80px;
}
.left_content input{
    margin: 0px 0px 0px 20px;
}
.fa-solid{
    font-size: 22px;
}
.footer{
    position: relative;
    top: 100px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
.btn_secondary{
    height: 35px;
    width: 150px;
    background-color:var(--secondery);
    color: white;
    border-width: 1px;
    font-size: 17px;
    border-radius: 5px;
    margin: 10px;
}
.btn_primary{
    height: 35px;
    width: 150px;
    background-color:var(--primary);
    color:var(--secondery) ;
    border-width: 1px;
    font-size: 17px;
    border-radius: 5px;
    margin: 10px;
}
.footer-right{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
.gender{
    font-size: 22px;
}
.seller_detail1{
    margin: 0px 0px 0px 70px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding: 0px 200px 0px 0px ;
    width: 250px;
    font-size: 18px;
}
.seller_detail2{
    margin: 0px 0px 0px 70px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding: 0px 100px 0px 0px ;
    width: 250px;
    font-size: 18px;
}
.seller_detail3{
    margin: 0px 0px 0px 70px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding: 0px 170px 0px 0px ;
    width: 250px;
    font-size: 18px;
}
.seller_detail4{
    margin: 0px 0px 0px 70px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding: 0px 170px 0px 0px ;
    width: 250px;
    font-size: 18px;
}
.seller_detail5{
    margin: 0px 0px 0px 70px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding: 0px 190px 0px 0px ;
    width: 250px;
    font-size: 18px;
}