.body{
    width: 10px;
    height: 550px;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
.sell{
    width: 1300px;
    height: 850px;
}
.img{
    margin: 0px 0px 0px 50px;
}
.body p{
    width: 310px;
    font-size: 40px;
    color: white;
    position: relative;
    bottom: 490px;
    left: 545px;
    transform: rotateZ('angle');
    rotate: 16deg;
}