
.body{
    max-width: 100%;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
:root{
    --primary:rgb(222, 239, 253);
    --secondery: black;
    --teritary:#9AC1F0;
    --fourth:rgb(214, 214, 214);
}
.header{
    display:flex;
    align-content: space-between;
    justify-content:space-between ;
    box-shadow: 10px 8px 16px 0px var(--teritary);
    background-color:var(--fourth);  
}
.logo{
    margin: 5px 10px;
    width: 15%;
    height: auto;
    border-radius: 50%;
}
.profile_img{
    float: right;
    margin: 5px 10px 0px 0px;
    width: 8%;
    height: auto;
    border-radius: 50%;
}
.header h1{
    width: 200px;
    font-size:  2vw;
    margin: 3% 0% 2% 60%;
}
.main{
    text-align: center;
    margin-bottom: 10%;
}
.main li{
    font-size: 1.5vw;
    list-style: none;
}
.main h1{
    font-size: 2vw;
}
.main ul{
    margin-bottom:10%;
}
.img{
    margin-top: 3%;
    width: 50%;
    height: auto;
}
.coustomers{
    display: flex;
    justify-content: space-evenly;
    margin: 10% 0% 0% 0%;
    padding: 3% 0%;
    background-color: var(--fourth);
}
.seller-img{
    width: 60%;
    height: auto;
    padding: 5%;
}
.buyer-img{
    width: 65%;
    height: auto;
    padding: 30px;
}
.seller{
    width: 30%;
    height: auto;
    box-shadow:5px 7px 20px var(--teritary);
    background-color: white;
}
.seller h2{
    font-size:2vw;
}
.seller h3{
    font-size: 1.5vw;
}
.buyer{   
    width: 30%;
    height: auto;
    box-shadow:5px 7px 20px var(--teritary);
    background-color: white;
}
.buyer h2{
    font-size:2vw;
}
.buyer h3{
    font-size: 1.5vw;
}
.seller p{
    width: 80%;
    font-size: 1vw;
    margin: 0% 0% 0% 10%;
}
.buyer p{
    width: 80%;
    font-size: 1vw;
    margin: 0% 0% 0% 10%;
}
.footer_top{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-content: space-around;
    background-color:var(--fourth);
    box-shadow: 5px 3px 15px 4px var(--teritary);
    height: 80%;
}
.footer_left{
    display: flex;
    font-size: 1.2vw;
}
.footer_left a{
    text-decoration: none;
    color: black;
}
.footer_left a:hover{
    color: var(--teritary);
}
.footer_left p{
    padding: 25px ;
    width:auto;
}
.links{
    font-size: 1.5vw;
    margin: 10% 0% 0% 0%;
}
.socials{
    display: flex;
    font-size: 1.5vw;
}
.icon{
    margin: 10px 10px 0px 10px;
}
.icon:hover{
    color: var(--teritary);
}
.copy{
    font-size: 1.5vw;
    text-align: center;
    padding: 10px 0px 0px 0px;
}