:root {
  --primary: #7d8e95;
  --secondary: #222f30;
  --tertiary: #ffd8af;
  --fourth: #f1b194;
  --fifth: #4c585e;
}

.body {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

.main {
  text-align: center;
  margin-bottom: 10%;
}

.main li {
  font-size: 1.5vw;
  list-style: none;
}

.main h1 {
  font-size: 18px;
}

.main ul {
  margin-bottom: 10%;
}

.img {
  margin-top: 3%;
  width: 50%;
  height: auto;
}

.coustomers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10% 0% 0% 0%;
  padding: 3% 0%;
  background-color: var(--secondary);
}

.seller-img {
  width: 60%;
  height: auto;
  padding: 5%;
}

.buyer-img {
  width: 65%;
  height: auto;
  padding: 30px;
}

.seller,
.buyer {
  width: 100%;
  margin-bottom: 5%;
}

.seller h2,
.buyer h2 {
  color: var(--tertiary);
  font-size: 18px;
}

.seller h3,
.buyer h3 {
  color: var(--tertiary);
  font-size: 18px;
}

.seller p,
.buyer p {
  width: 100%;
  font-size: 2vw;
  margin: 2% 0%;
  color: var(--primary);
}

@media only screen and (min-width: 400px) {
  .seller-img {
    width: 30%;
    padding: 0%;
  }

  .buyer-img {
    width: 20%;
    padding: 10px;
  }
}

@media only screen and (min-width: 768px) {

  .seller,
  .buyer {
    width: 45%;
    margin: 0% 2.5%;
  }

  .seller-img {
    width: 80%;
    padding: 0%;
  }

  .buyer-img {
    width: 80%;
    padding: 10px;
  }

  .seller p,
  .buyer p {
    width: 80%;
    font-size: 1vw;
    margin: 2% 10%;
  }
}

@media only screen and (min-width: 1024px) {

  .main h1 {
    font-size: 2vw;
  }

  .main li {
    font-size: 2vw;
  }

  .seller-img {
    width: 50%;
    padding: 0%;
  }

  .buyer-img {
    width: 54%;
    padding: 10px;
  }

  .seller p,
  .buyer p {
    width: 70%;
    font-size: 1vw;
    margin: 2% 10%;
  }
}