.body{
    background-color: whitesmoke;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
:root{
    --primary:#3f404b;
    --secondary:#222f30;
    --tertiary:#ffeba7 ;
    --fourth:#fdd13f ;
}
.header{
    display:flex ;
    align-content: space-between;
    justify-content: space-between;
    background-color:var(--secondary);
    color: var(--tertiary);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.btn{
    margin-left: 80%;
    max-width: 100%;
    display: flex;
}
.seller_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
}
.header h1{
    margin: 15px 0px 0px 10px;
}
.main{
    display: flex;
}
.main-left{
    margin: 80px;
    font-size: 20px;
    padding: 20px;
}
.left_content{
    margin: 20px 0px 0px 0px ;
}
.left-aling{
    display: flex;
    margin: 20px 0px 0px 0px;
}
.middle-line{
    border-right: 2px solid rgb(193, 193, 193);
    margin-top: 20px;
}
.main-right{
    display: grid;
    grid-template-columns: repeat(2, 320px);
    margin-top: 100px;
}
.main-right form{
    margin: 10px;
    border-width: 1px 0px 0px 0px;
    border-color: rgb(178, 178, 178);
    border-style: solid;
    padding: 5px;
}
.main-right form{
    background-image: url(../img/illustration/sell.png);
    width: 300px;
    height: 220px;
}
.main-right p{
    font-size: 25px;
}
.product_name{
    width:370px;
    height: 30px;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    margin-top: 10px;
    outline: none;
}
.textarea{
    width: 500px;
    height:100px;
    resize: none;
    outline: none;
    background-color: whitesmoke;
    padding: 10px 0px 0px 10px;
}
.input{
    width:200px;
    height: 30px;
    margin-top: 10px;
    border-style: solid;
    background-color: whitesmoke;
    border-width: 0px 0px 2px 0px;
    outline: none;
}
.classify{
    margin: 0px 0px 0px 40px;
}
.Category{
    width:200px;
    height: 30px;
    margin-top: 10px;
    background-color: whitesmoke;
    outline: none;
    border-radius: 5px;
}
.face i{
    padding: 0px 3px;
}