
.body{
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    background-color: white;
}
:root{
    --primary:#F6C445;
    --secondery:black;
    --teritary:#FED87A;
}
.header{
    display:flex;
    justify-content: space-between;
    background-color:var(--teritary);
    height:75px;
    border-radius: 10px;
}
.header h1{
    margin: 17px 0px 0px 70px;
    color:var(--secondery);
}
.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 7px 0px 0px 20px;
}
.profile_img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 7px 10px 0px 30px;
}
.btn_secondary{
    height: 35px;
    width: 150px;
    background-color:var(--secondery);
    color: white;
    border-width: 1px;
    margin: 75px 20px 0px 275px;
    border-radius: 5px;
    font-size: 20px;
    box-shadow:5px 7px 20px gray;
}
.btn_primary{
    height: 35px;
    width: 150px;
    background-color:var(--primary);
    color:var(--secondery);
    border-width: 1px;
    margin: 75px 20px 0px 275px;
    border-radius: 5px;
    font-size: 20px;
    box-shadow:5px 7px 20px gray;
}
.product_img{
    margin: 30px 0px 0px 0px ;
    width: 450px;
    height: 300px;
}
.buyer_img{
    width: 150px;
    height: 150px;
    margin: 10px 10px 10px 30px;
    border-radius: 50%;
}
.content{
    display: flex;
    justify-content: space-between;
    margin: 40px 0px 40px 130px;
    font-size: 25px;
}
.input{
    width: 300px;
    height: 35px;
}
.main{
    display: flex;
}
.main_left{
    text-align: center;
    margin: 50px 0px 0px 100px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    width: 600px;
    height: 600px;
    background-color: whitesmoke;
    box-shadow:5px 7px 20px gray;
}
.main_right{
    display: flex;
    margin: 50px 0px 0px 100px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    width: 530px;
    height: 400px;
    background-color: whitesmoke;
    box-shadow:5px 7px 20px gray;
}
.img{
    margin: 110px 20px 0px 20px;
}
.right_content{
    font-size: 25px;
    margin: 50px 0px 20px 30px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    padding: 0px 20px 0px 0px;
}
.right_content i{
    padding-right: 20px;
}
.contact-detail{
    margin: 55px 0px 0px 20px;
}
.footer_left{
    display: flex;
    font-size: 30px;
}
.footer_left a{
    text-decoration: none;
    color: black;
    padding: 0px 20px 0px 20px;
}
.footer_left a:hover{
    color: white;
}
h4{
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 15px;
}
.footer_top{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:var(--teritary);
    height: 100px;
    margin-top: 50px;
}
.contact{
    font-size: 20px;
}
.socials span{
    font-size: 23px;
    position: relative;
    top: 5px;
}
.line{
    border-right: 2px solid black;
    height: 80px;
    margin: 10px 55px 10px 0px;
}
.socials{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 30px;
    left: 50px;
}
.insta{
    padding: 10px 12px 8px 12px;
    border: 1px solid gray;
    border-radius: 100%;
    margin-left: 20px;
}
.insta:hover{
    background-image: linear-gradient(315deg, #7110D2, #DE46A9);
    color: white;
}
.fb{
    padding: 10px 15px 10px 15px;
    border: 1px solid gray;
    border-radius: 100%;
    margin-left: 20px;
}
.fb:hover{
    background-color: #3B5998;
    color: white;
}
.youtube{
    padding: 10px 10px 8px 10px;
    border: 1px solid gray;
    border-radius: 100%;
    margin-left: 20px;
}
.youtube:hover{
    background-color: red;
    color: white;
}
.twiter{
    padding: 10px 10px 8px 10px;
    border: 1px solid gray;
    border-radius: 100%;
    margin-left: 20px;
}
.twiter:hover{
    background-color: #00ACEE;
    color: white;
}
.copy{
    text-align: center;
    padding: 10px 0px 0px 0px;
}