.body{
    width: 1426px;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
:root{
    --primary:#82817D;
    --secondery:black;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color:var(--primary);
    color: var(--secondery);
}
.profile_img{
    width: 70px;
    height: 75px;
    border-radius: 50%;
    margin: 10px 0px 0px 0px;
}
.header_right{
    display: flex;
}
.header_right p{
    margin: 30px 20px 0px 20px;
    font-size: 20px;
}
.header_left{
    margin: 0px 0px 0px 20px;
}
.product_img{
    width: 150px;
    height: 150px;
    margin: 20px 0px 20px 20px;
}
.content{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 100px 0px 20px 120px;
    background-color: whitesmoke;
    box-shadow: 2px 2px gray;
}
.product_name{
    margin: 55px 0px 0px 0px;
}
.btn_primary{
    width: 150px;
    height: 35px;
    font-size: 20px; 
    background-color: black;
    color:white;
    border-width: 1px;
    border-radius: 5px;
    margin: 130px 0px 0px 1240px ;
}
.btn_secondary{
    width: 150px;
    height: 35px;
    font-size: 20px;
    margin: 85px 40px 20px 20px ;
    background-color: var(--primary);
    color:var(--secondery);
    border-width: 1px;
    border-radius: 5px;
}
.btn{
    width: 150px;
    height: 35px;
    font-size: 20px;
    margin: 35px 40px 20px 20px ;
    background-color:var(--primary);
    color:black;
    border-width: 1px;
    border-radius: 5px;
}