
.body{
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
:root{
    --primary:rgb(201, 229, 254);
    --secondary:rgb(42, 134, 255);
    --teritary:rgb(0, 120, 118);
    --fourth:rgb(71, 155, 153);
}



.header{
    display: flex;
    justify-content: space-between;
    background-color:var(--primary);
    color: var(--teritary);
}
.logo{
    width: 6em;
    margin: 5px;
}
.buyer_img{
    width: 3em;
    height:auto;
    border-radius: 50%;
    margin: 5px;
}
.profile{
    display: flex;
}
.buyer-name{
    font-size: 1em;
    padding: 20px 10px;
}
.header h1{
    font-size: 2em;
    margin: 0px;
    padding-top: 10px;
}

/* -----------product image------------------ */
.product-img{
    width: 50%;
    border-radius:25px;
}
.product-img:hover{
    transform: translateY(-5px);
	box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}
.thumbnail{
    width: 30%;
    border-radius:25px;
}
.thumbnail:hover{
    transform: translateY(-5px);
	box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}
.thumbnail-img{
    display: flex;
    justify-content: space-around;
    max-width: 350px;
    padding-left: 200px;
    margin-top: 10px;
}

/* -----------content------------- */
.main{
    display: flex;
    justify-content:space-around;
    margin: 40px 0px 40px 0px;
}
.right-content{
    display: flex;
    padding-left: 10px;
}
.content{
    display: flex;
}
.left-content{
    text-align: center;
}


/* -----------buying options-------------- */
.seller-img{
    width:30%;
    border-radius: 50%;
}
.seller-profile{
    display: flex;
    max-width: 300px;
    height:100px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}
.seller-name{
    padding: 20px 10px;
    text-decoration: none;
}
.bid-area{
    display: flex;
    text-align: center;
    margin-top: 20px;
}
.bid-amount{
    width: 140px;
    height: 30px;
    border-width: 1px;
    border-radius: 5px;
    margin-right: 20px;
}
.bid-area i{
    padding-right: 10px;
    color: red;
}
.btn_primary{
    width: 150px;
    height: 35px;
    font-size: 20px;
    background-color: var(--secondary);
    color:white;
    border-width: 1px;
    border-radius: 5px;
}
.btn{
    width: 150px;
    height: 35px;
    font-size: 20px;
    background-color: var(--primary);
    color:var(--secondery);
    border-width: 1px;
    border-radius: 5px;
    margin-right: 20px;
}


/* -----------similar products----------- */
.sub_img{
    width: 300px;
    height: 250px;
    border-radius: 10px;
    margin: 10px;
}
.sub_img1{
    width: 200px;
    height: 250px;
    border-radius: 10px;
    margin: 10px;
}
.more_prod{
    display:flex ;
    justify-content: space-evenly;
    text-align: center;
}
.similar{
    background-color: whitesmoke;
    border-radius: 20px;
    width: 320px;
}
.similar:hover{
    transform: translateY(-5px);
    box-shadow: 5px 7px 20px gray;
    transition: 0.5s;
}
.similar p{
    font-size: 25px;
}
.similar a{
    text-decoration: none;
    color: black;
}
.head{
    display: flex;
    margin-top: 10px;
}
.head h2{
    margin: 10px;
}
.line1{
    border: 1px solid var(--teritary);
    width: 80%;
    height: 0%;
    margin: 30px 0px 0px 0px;
}




/* -------------footer----------------- */
.footer{
    margin-top: 50px;
}
.footer_left{
    display: flex;
    font-size: 30px;
}
.footer_left a{
    text-decoration: none;
    color: black;
    padding: 0px 20px 0px 20px;
}
.footer_left a:hover{
    color: white;
}
h4{
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 15px;
}
.footer_top{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--teritary);
}
.contact{
    display: flex;
    font-size: 20px;
}
.links{
    font-size: 25px;
    margin-top: 30px;
}
.socials span{
    font-size: 23px;
    position: relative;
    top: 5px;
}
.line{
    border-right: 2px solid black;
    height: 80px;
    margin: 10px 55px 10px 0px;
}
.follow_links p{
    padding-left:55px;
}
.links{
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}
.links li{
    font-size: 25px;
    padding: 4px 8px;
    margin-right: 10px;
    border: 1px solid;
    border-radius: 25px;
    list-style-type: none;
}
.insta:hover{
    color:white;
    background:linear-gradient(315deg, #7110D2, #DE46A9, yellow) ;
}
.face:hover{
    color:white;
    background-color: #3B5998;
}
.twit:hover{
    color:white;
    background-color: #00ACEE;
}
.you:hover{
    color:white;
    background-color: red;
}
.copy{
    font-size: 14px;
    text-align: center;
    padding: 10px 0px 0px 0px;
}

.right-lower{
    display:flex ;
    flex-direction: column;
}
@media (max-width:768px){
    .header{
        display: flex;
        justify-content: space-between;
        background-color:var(--teritary);
        color: var(--secondery);
        border-radius: 10px;
    }
    .logo{
        width: 50px;
        height: 50px;
        padding-top: 1%;
        border-radius: 50%;
    }
    .buyer_img{   
        width: 50px;
        height: 50px;
        padding-top: 1%;
        border-radius: 50%;
    }
    .buyer-name{
        padding: 18% 0% 0% 0%;
        margin-right: 20px;
        font-size: 100%;
    }
    .header h1{
        margin: 20% 0% 0% 0%;
        font-size: 150%;
    }
    .product-img{
        width: 50%;
        height:50%;
        border-radius: 10%;
    }
    .thumbnail{
        width: 90%;
        height: 90%;
        margin: 2% 0% 0% 0%;
        border-radius: 5%;
    }
    .main{
        display: flex;
        justify-content:space-between;
    }
    .left-content{
        text-align: start;
        margin: 5% 0% 0% 0%;
    }
    .thumbnail-img{
        max-width: 50%;
        display: flex;
        justify-content: space-between;
        margin: 5% 0% 0% 1%;
    }
}
