.body{
    background-color: rgb(210, 209, 209);
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
:root{
    --primary:#82817D;
    --secondery:black;
}
.content{
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 400px;
}
.content p{
    font-size: 30px;
}
.button{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}
.main{
    width: 400px;
    margin: 300px 0px 0px 500px;
    background-color: white;
}
.btn1{
    height: 35px;
    width: 150px;
    background-color:var(--secondery);
    color: white;
    border-width: 1px;
    font-size: 18px;
    border-radius: 10px;
}
.btn2{
    height: 35px;
    width: 150px;
    background-color:var(--primary);
    color: var(--secondery);
    border-width: 1px;
    font-size: 18px;
    border-radius: 10px;
}