.img{
    width: 1200px;
    height: 700px;
}
.body{
    text-align: center;
}
.btn{
    margin: 30px 0px 0px 0px;
    width: 220px;
    height: 50px;
    font-size: 20px;
    background-color: rgb(73, 235, 124);
    border-width: 0px;
    border-radius: 10px;
}