:root {
    --secondary: #222f30;
    --tertiary: #ffd8af;
    --fifth: #4c585e;
}

.body {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    background-color: aliceblue;
}

.body a {
    text-decoration: none;
    color: var(--tertiary);
}

.tick {
    width: 200px;
    height: 200px;
    margin-top: 50px;
    background-color: rgb(182, 215, 245);
}

.content {
    width: 500px;
    height: 500px;
    box-shadow: 5px 7px 20px gray;
    text-align: center;
    background-color: var(--secondary);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.content h1 {
    font-size: 40px;
    margin-top: 40px;
}

.content p {
    font-size: 30px;
    color: #8ba1ad;
}

.content a {
    text-decoration: none;
    color: black;
}