:root {
    --primary: #7d8e95;
    --secondary: #222f30;
    --tertiary: #ffd8af;
    --fourth: #f1b194;
    --fifth: #4c585e;
}

.body {
    text-align: center;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}


.border {
    height: 1%;
    width: 35%;
    margin: auto;
    border: 1.5px solid;
    border-color: var(--primary);
}
.heading h2{
    color: var(--fifth);
}
/* ----list of prod----- */
.product-img {
    width: 310px;
    height: 310px;
    padding: 10px;
    border-radius: 20px;
}

.box {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(3, 490px);
    margin: 0px 0px 50px 50px;
}

.content {
    width: 350px;
    background-color: whitesmoke;
    align-content: center;
    margin: 50px 0px 20px 0px;
    border-radius: 10px;
    box-shadow: 5px 7px 20px gray;
    transition: 0.3s ease-out;
}

.content:hover{
    background-color: var(--fifth);
    color: var(--tertiary);
}

.content h2 {
    font-size: 28px;
    width: 300px;
    margin-top: 50px;
}

.algn {
    width: 100px;
    height: 35px;
    margin-bottom: 20px;
}

.unique{
    display: none;
}

.face i {
    padding: 0px 3px;
}