.body{
    width: 1440px;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
:root{
    --primary:#F6C445;
    --secondery:black;
    --teritary:#FED87A;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color:var(--teritary);
    color: var(--secondery);
}
.profile_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}
.logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px;
}
.header input{
    margin: 10px 20px 0px 0px;
    height: 30px;
    width: 300px;
    font-size: 16px;
    border-radius: 25px ;
}
.search{
    margin: 0px 0px 0px 275px;
    font-size: 20px;
    position: relative;
    top: 39px;
}
.search a{
    color: black;
}
.header_right{
    font-size: 20px;
}
.heading{
    height: 15vh;
    text-align: center;
    position: relative;
    top: 35px;
}
.heading h1{
    position: relative;
    top:-15px;
    color: rgb(24, 139, 240);
}
.border-1{
    height: 1px;
    width: 570px;
    margin: 0px auto;
    border: 1.5px solid black  ;
    position: relative;
    right: 420px;
    top: 30px;
    background-color:black;
}
.border-2{
    height: 1px;
    width: 570px;
    margin: 0px auto;
    border: 1.5px solid black ;
    position: relative;
    left: 420px;
    top: 30px;
    background-color:black;
}
.product_img{
    width: 150px;
    height: 150px;
    margin: 10px 0px 10px 20px;
}
.content{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    margin: 30px 0px 40px 120px;
    font-size: 23px;
    width: 1200PX;
}
.product_name{
    margin: 70px 0px 0px 0px;
}
.btn_primary{
    width: 150px;
    height: 35px;
    font-size: 20px; 
    background-color: #c3c3c2;
    color:black;
    border-width: 1px;
    border-radius: 5px;
    margin: 150px 0px 0px 1250px ;
}
.event-date{
    margin: 70px 0px 0px 0px;
}
.rate{
    margin: 70px 20px 0px 0px;
}
.content i{
    font-size: 30px;
    margin: 70px 40px 0px 0px;
    color: red;
}
.nav_link{
    text-decoration: none;
    color: black;
}
