.body{
    width: 1440px;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
:root{
    --primary:#F6C445;
    --secondery:black;
    --teritary:#FED87A;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color:var(--teritary);
    color: var(--secondery);
}
.profile_img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px 10px 0px 10px;
}
.header_right{
    display: flex;
}
.header_right p{
    margin: 30px 20px 0px 5px;
}
.header_left{
    margin: 0px 0px 0px 20px;
}
.btn{
    width: 150px;
    height: 35px;
    font-size: 20px;
    margin: 80px 40px 20px 20px ;
    background-color:var(--secondery);
    color:white;
    border-width: 1px;
    border-radius: 5px;
}
.product_img{
    width: 200px;
    height: 150px;
    margin: 20px 0px 20px 20px;
    border-radius: 10px;
}
.content{
    margin: 0px 0px 0px 50px;
}
.content_2{
    width:1350px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    margin: 50px 0px 20px 0px;
    border-radius: 10px;
    box-shadow: 2px 2px gray;
}
.content_1{
    width:1350px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    margin: 50px 0px 20px 0px;
    border-radius: 10px;
    box-shadow: 2px 2px gray;
}
.product_name1{
    margin: 50px 110px 0px 0px;
}
.product_name1 a{
    text-decoration: none;
    color: black;
}
.product_name2 a{
    text-decoration: none;
    color: black;
}
.product_name2{
    margin: 50px 0px 0px 0px;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
}
.product_name a{
    text-decoration: none;
    color: black;
}
.btn_primary{
    width: 150px;
    height: 35px;
    font-size: 20px;
    margin: 50px 0px 30px 1216px;
    background-color: var(--primary);
    color:var(--secondery);
    border-width: 1px;
    border-radius: 5px;
}
.btn_secondary{
    width: 150px;
    height: 35px;
    font-size: 20px;
    margin: 0px 0px 0px 1216px;
    background-color:var(--primary);
    color:var(--secondery);
    border-width: 1px;
    border-radius: 5px;
}