.body{
    width: 1440px;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
:root{
    --primary:#F6C445;
    --secondery:black;
    --teritary:#FED87A;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color:var(--teritary);
    color: var(--secondery);
}
.profile_img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px 10px 0px 10px;
}
.header_right{
    display: flex;
}
.header_right p{
    margin: 30px 20px 0px 5px;
}
.header_left{
    margin: 0px 0px 0px 20px;
}
.btn{
    width: 150px;
    height: 35px;
    font-size: 20px;
    margin: 80px 40px 20px 20px ;
    background-color:var(--secondery);
    color:white;
    border-width: 1px;
    border-radius: 5px;
}
.product_img{
    width: 200px;
    height: 150px;
    margin: 20px 0px 20px 20px;
    border-radius: 10px;
}
.content{
    margin: 0px 0px 0px 50px;
}
.content_2{
    width:1350px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    margin: 50px 0px 20px 0px;
    border-radius: 10px;
    box-shadow: 2px 2px gray;
}
.content_1{
    width:1350px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    margin: 50px 0px 20px 0px;
    border-radius: 10px;
    box-shadow: 2px 2px gray;
}
.product_name1{
    margin: 50px 110px 0px 0px;
}
.product_name1 a{
    text-decoration: none;
    color: black;
}
.product_name2 a{
    text-decoration: none;
    color: black;
}
.product_name2{
    margin: 50px 0px 0px 0px;
}
.product_name a{
    text-decoration: none;
    color: black;
}
.product_name1 a:hover{
    color: gray;
}
.btn_primary{
    width: 150px;
    height: 35px;
    font-size: 20px;
    margin: 50px 0px 30px 1216px;
    background-color: var(--primary);
    color:var(--secondery);
    border-width: 1px;
    border-radius: 5px;
}
.btn_secondary{
    width: 150px;
    height: 35px;
    font-size: 20px;
    margin: 80px 0px 0px 1216px;
    background-color:var(--primary);
    color:var(--secondery);
    border-width: 1px;
    border-radius: 5px;
}
.footer{
    margin-top: 50px;
}
.footer_left{
    display: flex;
    font-size: 30px;
}
.footer_left a{
    text-decoration: none;
    color: black;
    padding: 0px 20px 0px 20px;
}
.footer_left a:hover{
    color: white;
}
h4{
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 15px;
}
.footer_top{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--teritary);
    height: 100px;
}
.contact{
    font-size: 20px;
}
.socials span{
    font-size: 23px;
    position: relative;
    top: 5px;
}
.line{
    border-right: 2px solid black;
    height: 80px;
    margin: 10px 55px 10px 0px;
}
.socials{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 30px;
    left: 50px;
}
.insta{
    padding: 10px 10px 8px 10px;
    border: 1px solid gray;
    border-radius: 100%;
    margin-left: 20px;
}
.insta:hover{
    background-image: linear-gradient(315deg, #7110D2, #DE46A9);
    color: white;
}
.fb{
    padding: 10px 10px 8px 10px;
    border: 1px solid gray;
    border-radius: 100%;
    margin-left: 20px;
}
.fb:hover{
    background-color: #3B5998;
    color: white;
}
.youtube{
    padding: 10px 10px 8px 10px;
    border: 1px solid gray;
    border-radius: 100%;
    margin-left: 20px;
}
.youtube:hover{
    background-color: red;
    color: white;
}
.twiter{
    padding: 10px 10px 8px 10px;
    border: 1px solid gray;
    border-radius: 100%;
    margin-left: 20px;
}
.twiter:hover{
    background-color: #00ACEE;
    color: white;
}
.copy{
    text-align: center;
    padding: 10px 0px 0px 0px;
}