:root {
    --primary: #7d8e95;
    --secondary: #222f30;
    --tertiary: #ffd8af;
    --fourth: #f1b194;
    --fifth: #4c585e;
}

.body {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

.main {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

/* ----------------main-left----------- */
.main_left {
    display: flex;
    margin-top: 40px;
}

.thumbnail-imgs img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 10px;
    transition: 0.5s ease-out;
    filter: grayscale(80%);
}

.thumbnail-imgs img:hover {
    filter: brightness(100%) drop-shadow(2px 2px 2.5px gray);
}

#imagebox {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 2.5px gray);
}

/*-------------------bid area-------------------*/
.bidheading {
    background-color: #9cb2bc;
    padding: 15px 0px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0;
}

.otherBids {
    margin: 50px 0px 0px 100px;
    text-align: center;
    width: 500px;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
}

.bid-area {
    position: relative;
    top: 0px;
    padding: 20px 0px;
}

.allRequests {
    max-height: 100%;
    overflow: auto;
}

.illustration-image {
    width: 200px;
}

.noProduct {
    font-weight: 450;
    color: #282f32;
}

.product-detail {
    position: sticky;
    top: 30px;
}

/* Styles for the table */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

th {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: center;
}

td {
    padding: 8px;
}

td span {
    padding-top: 13px;
}

tr {
    border-bottom: 1px solid #ccc;
}

td .buyer_img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;
}

.aling {
    display: flex;
    max-width: 200px;
    width: 200px;
    overflow: hidden;
}

.date {
    font-size: 14px;
    width: 100px;
}

.amount {
    width: 100px;
}


/* -------------------main-right--------------- */
.desc {
    color: var(--fifth);
}

#description {
    width: 500px;
}

.rate {
    font-size: 18px;
    height: 40px;
    display: flex;
}

.duration {
    height: 40px;
    display: flex;
    padding-bottom: 15px;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: rgb(160, 160, 160);
    margin-bottom: 10px;
}

#duration {
    padding-top: 2px;
    color: var(--primary);
}

.inr b {
    color: var(--primary);
}

.rate p,
.duration p {
    font-size: 18px;
    padding: 4px 10px 0px 0px;
    color: var(--fifth);
}

#prod_price {
    padding-right: 5px;
    color: var(--secondary);
}

#prod_date {
    padding: 2px 5px 0px 0px;
    color: var(--secondary);
}

.prod_name {
    color: var(--secondary);
}

.bid-area button {
    width: 130px;
}

.button1 i {
    padding-right: 10px;
}

.my{
    background-color: rgb(238, 242, 245);
}

.bid-amount {
    height: 28px;
    margin-right: 10px;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.seller-profile {
    width: 360px;
    justify-content: space-between;
    display: flex;
    border: 2px solid rgb(204, 204, 204);
    margin-bottom: 30px;
    border-radius: 10px;
    color: var(--tertiary);
    background-color: var(--fifth);
}

.seller_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

.seller-info {
    text-align: center;
    width: 360px;
    margin: 0px 10px 10px 0px;
    display: flex;
    justify-content: space-between;
}

.seller-info h1 {
    color: var(--fifth);
}

#seller_name, #seller_location {
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#wish_button,
#message {
    width: 177px;
}

/* ----------------similar product------------ */
.similar {
    display: flex;
    justify-content: space-evenly;
}

.similar h1 {
    color: var(--secondary);
}

.strike {
    width: 80%;
    height: 35px;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: var(--primary);
}

/* ----------product----------------------- */
.unique {
    display: none;
}

.product_img {
    max-width: 100%;
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.prod_card {
    width: 260px;
    height: auto;
    border-radius: 20px;
    background: #f5f5f5;
    padding: 10px;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
}

.card-details {
    color: black;
    display: grid;
    place-content: center;
}

.text-body {
    display: flex;
}

.text-body span {
    padding-right: 5px;
}

.text-title {
    font-weight: bold;
}

.prod_card:hover {
    border-color: var(--primary);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.similar_container {
    display: flex;
    justify-content: space-evenly;
}

/* ---------snack bar------------- */
#snackbar1 {
    visibility: hidden;
    min-width: 230px;
    height: 40px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    z-index: 1;
    left: 82%;
    top: 100px;
}

#snackbar {
    visibility: hidden;
    min-width: 230px;
    height: 70px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    z-index: 1;
    left: 82%;
    top: 100px;
}

#snackbar1 span {
    position: relative;
    bottom: 20px;
}

#snackbar span {
    position: relative;
    bottom: 30px;
}

.heart {
    width: 30px;
    height: 30px;
    padding: 5px 0px 10px 10px;
}

.thumb {
    transform: rotate(180deg);
    width: 50px;
    height: 50px;
    padding: 10px 0px 10px 10px;
}

#snackbar1.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}