:root {
  --primary: #7d8e95;
  --secondary: #222f30;
  --tertiary: #ffe5c9;
  --fourth: #febc9e;
  --fifth: #374b4d;
}

.body {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

/* ----profile------ */
.card {
  margin: 0% 0% 2% 35%;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  width: 350px;
  border-radius: 0% 100% 0% 100% / 70% 27% 73% 30% ;
  background-color: rgb(214, 214, 214);
}

.title {
  color: var(--fifth);
  font-size: 40px;
}

.user-img {
  width: 200px;
  border-radius: 50%;
  padding: 20px;
  background-color: rgb(118, 117, 117);
  box-shadow: rgba(68, 68, 68, 0.25) 0px 25px 50px -12px;
}

.caption {
  text-align: center;
  width: 150px;
}

.caption i {
  padding: 10px 0px 10px 10px;
}

.caption h4 {
  margin-top: 0px;
  padding: 0px 0px 10px 10px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-width: 0px 0px 2px 0px;
}

.edit {
  margin-top: 50px;
}

.details h4 {
  color: var(--fifth);
}

/* ------edit------- */
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.688);
  backdrop-filter: blur(3px);
  z-index: 2;
  cursor: pointer;
}

.algn{
  width: 130px;
}
.remo{
  width: 200px;
  margin: 20px 0px;
}
.btn {
  margin-bottom: 20px;
}

.form {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  margin-left: 30px;
  width: 330px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 20px 5px 20px;
  background-color: black;
  border-radius: 25px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.heading-in {
  margin: 30px 0px 20px 0px;
  color: var(--primary);
  font-size: 22px;
}

.field {
  display: flex;
  justify-content: start;
  gap: 10px;
  border-radius: 25px;
  padding: 10px;
  border: none;
  outline: none;
  color: white;
  background-color: black;
}

.field label {
  width: 120px;
  margin-top: 10px;
}

.input-field {
  width: 80%;
  border: 1px solid black;
  outline: none;
  border-radius: 15px;
  padding: 15px;
  color: white;
  background-color: #363636;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
}

.closebtn {
  float: right;
  position: relative;
  top: 100px;
  right: 50px;
  z-index: 10;
  font-size: 50px;
  color: aliceblue;

}

.closebtn:hover {
  color: #ffd343;
}



/* ----list of prod----- */

.product-img {
  width: 300px;
  height: 300px;
  padding: 25px 25px 0px 25px;
  border-radius: 20px;
}

.prod_name {
  padding: 10px 0px;
}

.topic {
  display: flex;
  justify-content: space-between;
}

.topic h1 {
  color: var(--secondary);
}

.list {
  border-style: solid;
  border-color: rgb(196, 196, 196);
  border-width: 2px 0px 0px 0px;
  padding-bottom: 30px;
}

.add {
  height: 45px;
  margin: 23px 20px 0px 0px;
}

.box{
  display:grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: center;
  align-items: center;
  column-gap: 120px;

}

.content {
  text-align: center;
  width: 350px;
  background-color: whitesmoke;
  margin: 50px 0px 50px 0px;
  border-radius: 10px;
  box-shadow: 5px 7px 20px gray;
}
.content:hover{
  color: var(--tertiary);
  background-color: var(--primary);
  border-color: var(--primary);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.face i {
  padding: 0px 4px;
}