.body{
    width: 1430px;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
:root{
    --primary:#F6C445;
    --secondery:black;
    --teritary:#FED87A;
}
.header{
    display: flex;
    background-color:var(--teritary);
    color: var(--secondery);
}
.title{
    margin: 5px 0px 0px 550px;
}
.logo{
    margin: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.main{
    display:flex;
    justify-content: center;
    margin-top: 70px;
    height: 500px;
}
.main-left{
    width: 500px;
    height: 500px;
    margin-right: 10px;
}
.main-left h2{
    text-align: center;
}
.main-right{
    width:500px;
    height: 600px;
    margin-left: 10px;
    text-align: center;
}
.profile-img{
    width: 300px;
    height: 300px;
    margin: 50px 0px 0px 30px;
    border-radius: 10px;
}
.left_content{
    padding:25px;
    font-size: 16px;
    position: relative;
    left: 80px;
}
.left_content1{
    padding:25px;
    font-size: 16px;
    position: relative;
    left: 80px;
}
.left_content input{
    margin: 0px 0px 0px 20px;
}
.fa-solid{
    font-size: 22px;
}
.button{
    margin: 50px 0px 20px 0px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.btn1{
    height: 35px;
    width: 150px;
    background-color:black;
    color: white;
    border-width: 1px;
    font-size: 17px;
    border-radius: 5px;
    margin: 30px 20px 0px 10px;
}
.btn2{
    height: 35px;
    width: 150px;
    background-color:black;
    color: white;
    border-width: 1px;
    font-size: 17px;
    border-radius: 5px;
    margin: 30px 0px 0px 35px;
}
.btn_secondary{
    height: 35px;
    width: 150px;
    background-color:var(--secondery);
    color: white;
    border-width: 1px;
    font-size: 17px;
    border-radius: 5px;
    margin: 10px;
}
.btn_primary{
    height: 35px;
    width: 150px;
    background-color:var(--primary);
    color:var(--secondery) ;
    border-width: 1px;
    font-size: 17px;
    border-radius: 5px;
    margin: 10px;
}
.button-left{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin: 0px 100px 0px 0px;
}
.button-right{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    position: relative;
    left: 60px;
}
.gender{
    font-size: 22px;
}
.seller_detail1{
    margin: 0px 0px 0px 70px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding: 0px 200px 0px 0px ;
    width: 250px;
    font-size: 18px;
}
.seller_detail2{
    margin: 0px 0px 0px 70px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding: 0px 100px 0px 0px ;
    width: 250px;
    font-size: 18px;
}
.seller_detail3{
    margin: 0px 0px 0px 70px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding: 0px 170px 0px 0px ;
    width: 250px;
    font-size: 18px;
}
.seller_detail4{
    margin: 0px 0px 0px 70px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding: 0px 170px 0px 0px ;
    width: 250px;
    font-size: 18px;
}
.seller_detail5{
    margin: 0px 0px 0px 70px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding: 0px 190px 0px 0px ;
    width: 250px;
    font-size: 18px;
}
.btn_secondary a{
    text-decoration: none;
    color: white;
}
.footer_left{
    display: flex;
    font-size: 30px;
}
.footer_left a{
    text-decoration: none;
    color: black;
    padding: 0px 20px 0px 20px;
}
.footer_left a:hover{
    color: white;
}
h4{
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 15px;
}
.footer_top{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:var(--teritary);
    height: 100px;
}
.contact{
    font-size: 20px;
}
.socials span{
    font-size: 23px;
    position: relative;
    top: 5px;
}
.line{
    border-right: 2px solid black;
    height: 80px;
    margin: 10px 55px 10px 0px;
}
.socials{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 30px;
    left: 50px;
}
.insta{
    padding: 10px 12.5px 8px 12.5px;
    border: 1px solid gray;
    border-radius: 100%;
    margin-left: 20px;
}
.insta:hover{
    background-image: linear-gradient(315deg, #7110D2, #DE46A9, yellow);
    color: white;
}
.fb{
    padding: 10px 15px 8px 15px;
    border: 1px solid gray;
    border-radius: 100%;
    margin-left: 20px;
}
.fb:hover{
    background-color: #3B5998;
    color: white;
}
.youtube{
    padding: 10px 10px 8px 10px;
    border: 1px solid gray;
    border-radius: 100%;
    margin-left: 20px;
}
.youtube:hover{
    background-color: red;
    color: white;
}
.twiter{
    padding: 10px 10px 8px 10px;
    border: 1px solid gray;
    border-radius: 100%;
    margin-left: 20px;
}
.twiter:hover{
    background-color: #00ACEE;
    color: white;
}
.copy{
    text-align: center;
    padding: 10px 0px 0px 0px;
}