:root {
    --primary: #7d8e95;
    --secondary: #222f30;
    --tertiary: #ffd8af;
    --fourth: #f1b194;
    --fifth: #4c585e;
}


.body {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

.main {
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0px;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    row-gap: 30px;
}

.product_img {
    width: 250px;
    height: 250px;
    border: 1px;
    box-shadow: 1px 1px 10px rgb(194, 194, 194);
    border-radius: 10px;
}

.product_img:hover {
    box-shadow: 5px 7px 20px gray;
}

.content {
    width: 600px;
    height: 490px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 7px 20px gray;
}

.desc {
    font-size: 20px;
    margin-top: 40px;
    color: var(--fifth);
}

#description {
    width: 580px;
    height: 150px;
    font-size: 16px;
    max-height: 150px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgb(187, 187, 187);
    overflow: auto;
}

.rate, .durat {
    font-size: 18px;
    height: 40px;
    display: flex;
    padding-top: 5px;
    float: inline-start;
}

#duration {
    color: var(--primary);
}

.inr b {
    color: var(--secondary);
}

.rate p,
.durat p {
    font-size: 20px;
    padding: 0px 10px 0px 0px;
    color: var(--fifth);
}

#prod_price {
    padding-right: 5px;
    color: var(--secondary);
}

#prod_date {
    padding: 0px 5px 0px 0px;
    color: var(--secondary);
}

.prod_name {
    font-size: 30px;
    text-align: center;
    color: var(--secondary);
}

.face i {
    padding: 0px 4px;
}

.btn {
    margin: 30px 0px;
    text-align: center;
}

/* -------------edit form------------- */
.form-product {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin-left: 30px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 20px 5px 20px;
    background-color: black;
    color: var(--primary);
    border-radius: 25px;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

#prod_edit {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.688);
    backdrop-filter: blur(3px);
    z-index: 2;
    cursor: pointer;
}

.heading-in{
    margin-left: 45%;
}

.textarea {
    width: 500px;
    height: 100px;
    border-radius: 10px;
    margin-top: 10px;
    resize: none;
    outline: none;
    padding: 10px 0px 0px 10px;
    color: white;
    background-color: #363636;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
}

.textarea:hover {
    border: 1px solid whitesmoke;
}

.input-field_prod {
    width: 170px;
    border: 1px solid black;
    outline: none;
    border-radius: 15px;
    padding: 15px;
    margin: 10px 0px;
    color: white;
    background-color: #363636;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
}

.desc_label{
    position: relative;
    bottom: 55px;
}
.field label {
    display: inline-block;
    width: 120px;
    margin-top: 10px;
}


.input-field:hover {
    border: 1px solid whitesmoke;
}

.duration {
    height: 40px;
    margin: 10px 0px 10px 0px;
}

.form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.Category {
    width: 200px;
    height: 40px;
    outline: none;
    background-color: #363636;
    color: white;
    border-radius: 10px;
    padding-left: 10px;
  }
  
  .detail {
    display: inline-block;
    width: 120px;
    color: var(--primary);
  }
  
  .stanard {
    text-align: left;
    padding: 0px 0px 10px 10px;
  }
  
  .prod_val {
    padding-left: 10px;
    color: white;
  }

.main-right {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 20px;
    margin: 60px 0px 0px 30px;
}

.main-right p {
    font-size: 25px;
}

.photo {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363636;
}

.body h4 {
    margin: 0px
}

.camera i {
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    color: black;
}

.camera {
    font-size: 20px;
    cursor: pointer;
}

.devide {
    display: flex;
}