.body{
    max-width: 1440px;
    font-size: 20px;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
:root{
    --primary:#F6C445;
    --secondery:black;
    --teritary:#FED87A;
}
.main{
    position: relative;
    top:100px;
    display: flex;
    justify-content: center;

}
.main-left{
    width: 650px;
    height: 650px;
    margin: 0px 20px 0px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-right h1{
    color:#fbbf26;
}
.main-right{
    width: 650px;
    height: 650px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input{
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    width: 400px;
    height: 25px;
}
.right_content{
    padding:40px 0px 0px 0px ;
}
.left_content{
    position: relative;
    top: 25px;
}
.btn{
    width: 150px;
    height: 35px;
    font-size: 20px;
    border-width: 0px;
    background-color:var(--primary);
    color: var(--secondery);
}
.btn:hover{
    transform: translateY(2px);
    transition: 0.1s;
    box-shadow: 1px 1px 5px 1px gray;
}
.nav-link{
    text-decoration: none;
    color: black;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}
.social-links{
    display: flex;
    justify-content: center;
}
.link1{
    padding: 0px 10px 0px 10px;
    font-size: 30px;
}
.link2{
    padding: 0px 10px 0px 10px;
    font-size: 30px;

}
.link3{
    padding: 0px 10px 0px 10px;
    font-size: 30px;

}
.link1:hover{
    color:#3b5998;
    transform: translateY(2px);
    transition: 0.1s;
}
.link2:hover{
    color: #00acee;
    transform: translateY(2px);
    transition: 0.1s;
}
.link3:hover{
    color: #20BF55 ;
    transform: translateY(2px);
    transition: 0.1s;
}
