.body{
    max-width: 100%;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    background: whitesmoke;
}
:root{
    --primary:rgb(222, 239, 253);
    --secondery: black;
    --teritary:#9AC1F0;
    --fourth:#e4f0fd;
    --fifth:#6baaf8;
}
.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 7px 0px 0px 20px;
}
.profile_img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 7px 20px 0px 80px;
}
.header{
    display:flex;
    justify-content:space-between ;
    background-color:var(--fourth);
    height:75px;
    border-radius: 10px;
    box-shadow: 6px 6px 12px rgb(207, 206, 206),-6px -6px 12px rgb(207, 206, 206);
}
.header h1{
    margin: 17px 0px 0px 80px;
    color:black;
}
.heading{
    display: flex;
    justify-content: space-between;
    margin: 5% 0%;
}
.heading h2{
    color:var(--secondery);
    font-size: 2vw;
}
.border{
    height: 1%;
    width: 40%;
    margin:auto;
    border: 1.5px solid black  ;
    background-color:black;
}
/* .top_product{
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0px 0px 0px;
}
.bottom_product{
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0px 0px 0px;
}
.product_profile{
    text-align: center;   
    font-size: 30px;   
    border-radius: 20px;
}
.product_profile a{
    text-decoration: none;
    color: black;
}
.product_profile:hover{
    box-shadow:5px 7px 20px gray;
    scale: 1.05;
    background-color: whitesmoke;
    transition: .4s;
}
.product_name{
    margin: 0px 0px 20px 0px ;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
.product_name a{
    text-decoration: none;
    color: black;
    font-size: 35px;
}
.product_img{
    width: 350px;
    height: 300px;
    margin: 20px 15px 60px 15px ;
    border-radius: 10px;
} */
.product_img{
    max-width: 100%;
    width: 300px;
    height: 250px;
    margin: 10px;
    border-radius: 10px;
}
.card {
	width: 90%;
	height: auto;
	border-radius: 20px;
	background: #f5f5f5;
	position: relative;
	padding: 1rem;
	border: 2px solid #c3c6ce;
	transition: 0.5s ease-out;
	overflow: visible;
} 
.card-details {
	color: black;
	display: grid;
	place-content: center;
}   
.card-button {
	transform: translate(-50%, 125%);
	width: 60%;
	border-radius: 1rem;
	border: none;
	background-color: var(--teritary);
	color: #fff;
	font-size: 1rem;
	padding: .5rem 1rem;
	position: absolute;
	left: 50%;
	bottom: 0;
	opacity: 0;
	transition: 0.3s ease-out;
}
.text-body{
    display: flex;
    font-size: 1rem;
}
.text-body span{
    padding-right: 5px;
}
.text-title {
	font-size: 1.5rem;
	font-weight: bold;
}
.card:hover {
	border-color: var(--teritary);
	box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}  
.card:hover .card-button {
	transform: translate(-50%, 50%);
	opacity: 1;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    justify-content: space-evenly;
    grid-gap:40px;
    margin: 5% 0% 0% 0%
}
.footer_top{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-content: space-around;
    background-color:var(--fourth);
    box-shadow: 6px 6px 12px rgb(207, 206, 206),-6px -6px 12px rgb(207, 206, 206);
    height: 80%;
    margin-top: 5%;
}
.footer_left{
    display: flex;
    font-size: 1.2vw;
}
.footer_left a{
    text-decoration: none;
    color: black;
}
.footer_left a:hover{
    color: var(--fifth);
}
.footer_left p{
    padding: 25px ;
    width:auto;
}
.links{
    font-size: 1.5vw;
    margin: 10% 0% 0% 0%;
}
.socials{
    display: flex;
    font-size: 1.5vw;
}
.icon{
    margin: 10px 10px 0px 10px;
}
.icon:hover{
    color: var(--fifth);
}
.copy{
    font-size: 14px;
    text-align: center;
    padding: 10px 0px 0px 0px;
}