.body{
    max-width: 1426px;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
:root{
    --primary:#F6C445;
    --secondery:black;
    --teritary:#FED87A;
}
.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 7px 0px 0px 20px;
}
.profile_img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 7px 20px 0px 80px;
}
.header{
    display:flex;
    justify-content:space-between ;
    background-color:var(--teritary);
    height:75px;
    border-radius: 10px;
}
.header h1{
    margin: 17px 0px 0px 80px;
    color:var(--secondery);
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
.heading{
    display: flex;
    justify-content: space-between;
    margin: 50px 0px 0px 0px;
}
.heading h2{
    color:var(--primary);
    font-size: 32px;
}
.border{
    height: 1px;
    width: 570px;
    margin:auto;
    border: 1.5px solid black  ;
    background-color:black;
}
.border-10{
    height: 1px;
    width: 550px;
    margin:auto;
    border: 1.5px solid black  ;
    position: relative;
    right: 420px;
    top: 60px;
    background-color:black;
}
.border-20{
    height: 1px;
    width: 550px;
    margin: 0px auto;
    border: 1.5px solid black ;
    position: relative;
    left: 420px;
    top: 60px;
    background-color:black;
}
.top_product{
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0px 0px 0px;
}
.bottom_product{
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0px 0px 0px;
}
.product_profile{
    text-align: center;   
    font-size: 30px;   
    border-radius: 20px;
}
.product_profile a{
    text-decoration: none;
    color: black;
}
.product_profile:hover{
    box-shadow:5px 7px 20px gray;
    scale: 1.05;
    background-color: whitesmoke;
    transition: .4s;
}
.product_name{
    margin: 0px 0px 20px 0px ;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
.product_name a{
    text-decoration: none;
    color: black;
    font-size: 35px;
}
.product_img{
    width: 350px;
    height: 300px;
    margin: 20px 15px 60px 15px ;
    border-radius: 10px;
}
.footer{
    margin-top: 50px;
}
.footer_left{
    display: flex;
    font-size: 30px;
}
.footer_left a{
    text-decoration: none;
    color: black;
    padding: 0px 20px 0px 20px;
}
.footer_left a:hover{
    color: white;
}
h4{
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 15px;
}
.footer_top{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:var(--teritary);
    height: 100px;
}
.contact{
    font-size: 20px;
}
.socials span{
    font-size: 23px;
    position: relative;
    top: 5px;
}
.line{
    border-right: 2px solid black;
    height: 80px;
    margin: 10px 55px 10px 0px;
}
.socials{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 30px;
    left: 50px;
}
.insta{
    padding: 10px 10px 8px 10px;
    border: 1px solid gray;
    border-radius: 100%;
    margin-left: 20px;
}
.insta:hover{
    background-image: linear-gradient(315deg, #7110D2, #DE46A9);
    color: white;
}
.fb{
    padding: 10px 10px 8px 10px;
    border: 1px solid gray;
    border-radius: 100%;
    margin-left: 20px;
}
.fb:hover{
    background-color: #3B5998;
    color: white;
}
.youtube{
    padding: 10px 10px 8px 10px;
    border: 1px solid gray;
    border-radius: 100%;
    margin-left: 20px;
}
.youtube:hover{
    background-color: red;
    color: white;
}
.twiter{
    padding: 10px 10px 8px 10px;
    border: 1px solid gray;
    border-radius: 100%;
    margin-left: 20px;
}
.twiter:hover{
    background-color: #00ACEE;
    color: white;
}
.copy{
    text-align: center;
    padding: 10px 0px 0px 0px;
}